---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Body from "../components/Body.astro";
import Masthead from "../components/Masthead.astro";
import Head from "../components/Head.astro";
import BlogListTile from "../components/BlogListTile.astro";
import { IoLogoGithub } from "react-icons/io5/index.js";

const posts = (await Astro.glob("./posts/*.md")).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.createdAt).valueOf() -
    new Date(a.frontmatter.createdAt).valueOf()
);

const projects = posts.filter((post) =>
  post.frontmatter.tags.includes("Projects")
);
const tutorials = posts.filter((post) =>
  post.frontmatter.tags.includes("Tutorials")
);
const miscellaneous = posts.filter((post) => post.frontmatter.tags.includes("Miscellaneous"));

const latestPost = posts[0];
posts.splice(0, 1);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <Masthead />
    <main class="pt-2 px-8 mx-auto max-w-3xl">
      <section>
        <a 
          href="https://github.com/schmeekygeek/blog"
          class="hover:dark:decoration-rosePine-pine hover:decoration-rosePine-pine text-lg inline-flex align-middle items-center mb-2 underline underline-offset-1 decoration-rosePineDawn-gold dark:decoration-rosePine-gold"
        >
          <IoLogoGithub className="mr-1"/>
          View source
        </a>
        <p class="text-xl">
          Welcome to my
          <span class="dark:text-rosePine-gold text-rosePineDawn-gold"
            >Blog.</span
          >
          <br />
          This is where I write about the
          <span class="dark:text-rosePine-gold text-rosePineDawn-gold"
            >projects</span
          >
          that I built, the lessons that I learned from building them,
          <span class="dark:text-rosePine-gold text-rosePineDawn-gold"
            >tutorials, guides</span
          >
          and other topics that I occasionally like to pen my thoughts on.
        </p>
      </section>
      <br />
      <section>
        <Head>Latest Post</Head>
        <BlogListTile
          title={latestPost.frontmatter.title}
          description={latestPost.frontmatter.description}
          heroImage={latestPost.frontmatter.heroImage}
          publishedOn={latestPost.frontmatter.createdAt}
          url={latestPost.url}
        />
      </section>
      <br />
      <Head>Projects</Head>
      <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {
          projects.map((post) => {
            return (
              <li class="list-none text-center mx-8">
                <BlogListTile
                  title={post.frontmatter.title}
                  description={post.frontmatter.description}
                  heroImage={post.frontmatter.heroImage}
                  url={post.url}
                />
              </li>
            );
          })
        }
      </ul>
      <br />
      <Head>Tutorials</Head>
      <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {
          tutorials.map((post) => {
            return (
              <li class="list-none text-center mx-8">
                <BlogListTile
                  title={post.frontmatter.title}
                  description={post.frontmatter.description}
                  heroImage={post.frontmatter.heroImage}
                  publishedOn={post.frontmatter.createdAt}
                  url={post.url}
                />
              </li>
            );
          })
        }
      </ul>
      <br />
      <Head>Miscellaneous</Head>
      <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {
          miscellaneous.map((post) => {
            return (
              <li class="list-none text-center mx-8">
                <BlogListTile
                  title={post.frontmatter.title}
                  description={post.frontmatter.description}
                  heroImage={post.frontmatter.heroImage}
                  publishedOn={post.frontmatter.createdAt}
                  url={post.url}
                />
              </li>
            );
          })
        }
      </ul>
    </main>
    <Footer />
  </Body>
</html>
