---
import { Image } from '@astrojs/image/components';
import { IoCalendarOutline } from 'react-icons/io5/index.js';


export interface Props {
  url: any;
  title: string;
  description: string;
  publishedOn?: string;
  heroImage: string;
}

const {
  url,
  title,
  description,
  publishedOn,
  heroImage,
} = Astro.props;
---

<a href={url}>
  <div class="justify-left mb-4 border dark:border-rosePine-iris border-rosePineDawn-iris rounded-xl">
    <Image
      class="rounded-t-xl" 
      src={heroImage} 
      fit="fill"
      format ='png' 
      position='centre'
      height={680} 
      width={1100} 
      alt="Thumbnail"/>
    <div class="p-4">

      {
      typeof publishedOn != 'undefined' ? 
        <div class="inline-flex align-middle items-center font-zodiak">
          <span>
            <IoCalendarOutline className="mr-2"/>
          </span>
          {publishedOn}

        </div> : <section />
      }
      <div class="font-medium text-3xl font-cabinet">
        {title}
      </div>
      <div class="opacity-70 text-lg font-normal">
        {description}
      </div>

    </div>
  </div>
</a>
