---
import { Image } from '@astrojs/image/components';

export interface Props {
  url: any;
  title: string;
  description: string;
  publishedOn?: string;
  heroImage: string;
}

const { url, title, description, publishedOn, heroImage } = Astro.props;
---
<a href={url}>
  <Image
    class="mb-4 border border-slate-300 dark:border-zinc-700 rounded-xl" 
    src={heroImage} 
    format ='jpg' 
    width={720*2} 
    height={720} 
    aspectRatio={2.0} 
    alt="Thumbnail"/>
{
  typeof publishedOn != 'undefined' ? 
  <div class="inline-block bg-teal-200 text-teal-800 text-100 px-2 rounded-full font-semibold tracking-wide mb-1">
    Published on {publishedOn}
  </div>
  :
  <section></section>
  }
  <div class="text-3xl font-satoshi font-bold">
    {title}
  </div>
  <div class="opacity-70 text-lg">
    {description}
  </div>
</a>
