---
import { Image } from '@astrojs/image/components';


export interface Props {
  url: any;
  title: string;
  description: string;
  publishedOn?: string;
  heroImage: string;
}

const { url, title, description, publishedOn, heroImage } = Astro.props;
---
<a href={url}>
  <Image
    class="mb-4 border border-slate-300 dark:border-zinc-700 rounded-xl" 
    src={heroImage} 
    fit="fill"
    format ='png' 
    position='centre'
    height={680} 
    width={1100} 
    alt="Thumbnail"/>
{
  typeof publishedOn != 'undefined' ? 
  <div class="antialiased inline-block bg-rosePine-rose text-rosePine-overlay px-2 rounded-full font-semibold tracking-wide mb-2">
    Published on {publishedOn}
  </div>
  :
  <section />
  }
  <div class="font-medium text-3xl font-cabinet">
    {title}
  </div>
  <div class="opacity-70 text-lg font-normal">
    {description}
  </div>
</a>
