---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { SITE_TITLE } from '../consts'
import { Image } from '@astrojs/image/components'

export interface Props {
  content: {
    title: string
    description: string
    createdAt?: string
    updatedAt?: string
    heroImage: string
    tags: string[]
  }
}

const {
  content: { title, description, heroImage, createdAt }
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
  </head>

  <Body>
    <Header />
    <main class="pt-10 mx-auto max-w-3xl">
      <Content>
        <div>
          <div class="pt-10 text-4xl font-medium font-cabinet text-rosePineDawn-text dark:text-rosePine-text">{title}</div>
          <div class="text-xl font-normal opacity-70">{description}</div>
          <div class="antialiased inline-block bg-rosePine-rose text-rosePine-overlay text-100 px-2 rounded-full font-semibold tracking-wide mt-2">Published on {createdAt}</div>
          <Image
            class="border border-slate-300 dark:border-zinc-700 rounded-xl"
            height={680} 
            width={1100} 
            format="jpg"
            fit={"cover"}
            aspectRatio={2.0}
            src={heroImage} 
            alt="Thumbnail"
          />
        </div>
        <slot />
      </Content>
    </main>
    <Footer />
  </Body>
</html>
