---
import { Image } from '@astrojs/image/components';
import BaseHead from '../components/BaseHead.astro';
import Body from '../components/Body.astro';
import Breadcrumb from '../components/Breadcrumb.astro';
import Header from '../components/Header.astro';
import Masthead from '../components/Masthead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Content from '../components/Content.astro';
import BlogListTile from '../components/BlogListTile.astro';
import Footer from '../components/Footer.astro';

export interface Props {
  category: string
}

const { category } = Astro.props
const posts = (await Astro.glob('../pages/posts/*.md'))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.createdAt).valueOf() -
      new Date(a.frontmatter.createdAt).valueOf()
  )
  .filter(item => item.frontmatter.tags.includes(category))
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Masthead />
      <Content>
        <Breadcrumb>{category}</Breadcrumb>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4"> {
            posts.map(post => {
              return <li class="list-none text-center mx-auto">
                <BlogListTile
                  title={post.frontmatter.title}
                  description={post.frontmatter.description}
                  heroImage={post.frontmatter.heroImage}
                  publishedOn={post.frontmatter.createdAt}
                  url={post.url}
                />
              </li>
              })
            }
          </ul>
        </section>
      <Content />
    </main>
    <Footer />
  </Body>
</html>
